azure_firewall_policy/firewall-policy-terraform-module/

azure_firewall_policy/ip_groups_mapping.csv

replace.sed

.DS_Store

.terraform/

secrets/

.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
